* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
#map {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
input, button {
    display: inline-block;
    height: 25px;
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
    background:rgba(100, 100, 100, 0.8);
    border: none;
    text-align: center;
    color: #fff;
}

span{
    font-weight: normal;
}
.time_overlay{
    position: absolute; 
    bottom: 0px;
    left:0;
    z-index: 3;
}
.tab button{
    width: 10vw;
    background-color:  rgba(50, 50, 50, 1);
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    z-index: 3;
}
.tabContent{
    display: block;
    background-color:  rgba(50, 50, 50, 0.8);
}
#timeInfo{
    display: inline-block;
    color: #fff;
}
.btn_group{
    margin-left: 50vw;
    display: inline-block;
    
}
.time_overlay #sBtn{
    width: 50px;
    cursor: pointer;
}
.time_overlay #qBtn{
    width: 50px;
    cursor: pointer;
}
.time_overlay #timeSeries{
    width:60vw;
    height: 25vh;
    overflow: hidden; 
}
.axis path, .axis line{
    fill: none;
    stroke: #fff;
}
.axis text {
    fill: #fff;
    stroke:none;
}
.bar_overlay{
    position: absolute; 
    bottom: 0px;
    left:63vw;
    z-index: 3;
}
#barChart{
    width:37vw;
    height: calc(35vh + 35px) ;
    overflow: hidden;
    color: #fff;
}
li{
    display: inline-block;
    overflow: auto;
    padding: 0px 5px;
}
